.outer-html-view {
  background-color: #f7f7f7;
  overflow-x: auto;
}

.outer-html-view__code {
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-size: x-small;
  margin: 0;
  padding: 10px;
}
