.app {
  display: flex;
  height: 100vh;
  gap: 10px;
}

.app__panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

.app__panel-header {
  font-weight: lighter;
  margin: 0;
  padding: 10px;
}

.app__panel-body {
  align-self: stretch;
  overflow-y: auto;
}
